:root {
  --font-color-title: #212121;
  --font-color-content: #242424;
  --font-color-sub: #606060;
  --font-color-search: #adadad;
  --font-color-white: #ffffff;

  --font-size-large: 2.2rem;
  --font-size-medium: 1.8rem;
  --font-size-regular: 1.3rem;
  --font-size-small: 1.1rem;
  --font-size-micro: 0.9rem;

  --line: #cfcfcf;
  --border-radius: 3px;

  --color-background-superLightGrey: #f8f8f8;
  --color-background-lightGrey: #ececec;
  --color-background-midDarkGrey: #606060;
  --color-background-darkGrey: #030303;

  --color-blue: #1c64d6;
  --color-white: #ffffff;
  --color-black: #000000;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  position: relative;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fa-check {
  background-color: var(--color-background-midDarkGrey);
  font-size: var(--font-size-micro);
  color: var(--color-white);
  border-radius: 50%;
  padding: 1px;
}

.logo__commentor {
  width: 60px;
  margin-right: 0.8rem;
}

div .text__input__sub-banner.hide,
div .response__input.hide,
ul .reply__comments.hide {
  display: none;
}

/* header */
.header {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 38px 0 24px;
}

.logo {
  display: flex;
  margin-left: 0.8rem;
  margin-right: 8.4rem;
}

.button.bars {
  margin-right: 1.4rem;
}

.fa-bars {
  font-size: var(--font-size-large);
  padding: 14px 18px;
}

.ytLogo {
  display: flex;
  align-items: center;
}

.logo__youtube {
  width: 46px;
  height: 46px;
  margin-right: 0.4rem;
}

.logo__title {
  font-size: var(--font-size-large);
  font-weight: bold;
  margin-right: 0.2rem;
  font-family: 'Oswald', sans-serif;
}

.logo__kr {
  align-self: flex-start;
  font-size: var(--font-size-micro);
  color: var(--font-color-sub);
}

.header .input {
  width: 900px;
  min-width: 60px;
  height: 56%;
  display: flex;
  margin-right: 8.4rem;
}

.header .input__text {
  width: 100%;
  height: 100%;
  border: 2px solid var(--line);
  color: var(--font-color-search);
  font-size: var(--font-size-regular);
  border-radius: var(--border-radius);
  padding: 4px 6px;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(206, 205, 204, 1);
  -moz-box-shadow: inset 0px 0px 2px 0px rgba(206, 205, 204, 1);
  box-shadow: inset 0px 0px 2px 0px rgba(206, 205, 204, 1);
  background: url('img/keyboard.png') no-repeat 98% 50%;
  background-size: 40px 30px;
}

.header .input__search,
.header .input__microphone {
  width: 100px;
  background-color: var(--color-background-superLightGrey);
}

.header .input__search {
  border: 2px solid var(--line);
  border-left: none;
  margin-right: 0.4em;
}

.header .input__search:hover {
  background-color: var(--color-background-lightGrey);
}

.header .input__microphone {
  border-radius: 50%;
}

.header .fa-magnifying-glass,
.header .fa-microphone {
  font-size: var(--font-size-medium);
}

.header .function {
  width: 220px;
  display: flex;
}

.header .function__recording,
.header .function__bell,
.header .function__owner__wrap {
  background-color: transparent;
}

.input__search,
.input__microphone,
.function__recording,
.function__bell {
  position: relative;
}

.input__search__subtitle,
.input__microphone__subtitle,
.function__recording__subtitle,
.function__bell__subtitle {
  padding: 10px 18px;
  font-size: var(--font-size-small);
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: var(--border-radius);
  opacity: 0.5;
  display: none;
  display: inline-block;
  position: absolute;
  top: 60px;
  left: -20px;
}

.input__search__subtitle {
  top: 60px;
  left: 8px;
}

.input__microphone__subtitle {
  width: 140px;
  top: 60px;
  left: -26px;
}

.header .fa-video,
.header .fa-bell {
  font-size: var(--font-size-medium);
  margin-right: 44px;
}

.header .function__owner {
  width: 50px;
}

.header .actionBtn {
  display: none;
}

/* main: contents */
.contents {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 74%,
    rgba(248, 248, 248, 1) 100%
  );
}

/* section: video */
.video {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 38px 0 38px;
  border-bottom: 1px solid var(--line);
}

.video__main {
  position: relative;
  padding-top: 56%;
  width: 100%;
  height: 0;
}

#ytplayer {
  /* position: sticky;
  top: 0; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__description {
  width: 100%;
  padding: 40px 0 20px 0;
}

.video__hashTag,
.video__title {
  margin: 0;
}

.video__hashTag {
  color: var(--color-blue);
  font-size: var(--font-size-small);
}

.video__title {
  font-size: var(--font-size-medium);
  margin-top: 2px;
}

.video__info {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-regular);
  color: var(--font-color-sub);
  margin-top: 24px;
}

.video__info__left {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.video__info__right {
  width: 640px;
  display: flex;
  justify-content: space-between;
}

.video .info__right {
  font-size: var(--font-size-regular);
}

/* section: channel */
.channel {
  padding: 30px 38px;
  border-bottom: 1px solid var(--line);
}

.channel__title {
  display: flex;
  justify-content: space-between;
}

.channel .title__left {
  display: flex;
  align-items: center;
}

.channel .title__logo {
  width: 60px;
  height: 60px;
  margin-right: 0.8rem;
}

.channel .title {
  font-size: var(--font-size-regular);
  font-weight: bold;
  color: var(--font-color-content);
  margin-right: 0.3rem;
}

.channel .subscribers {
  margin: 2px 0 0 0;
  font-size: var(--font-size-small);
  color: var(--font-color-sub);
}

.channel .title__subscribe {
  width: 120px;
  height: 60px;
  background-color: var(--color-background-lightGrey);
  font-size: var(--font-size-regular);
  border-radius: var(--border-radius);
  color: var(--font-color-sub);
  margin-right: 16px;
}

.channel .fa-bell-slash {
  font-size: var(--font-size-medium);
}

.channel__description {
  padding: 0 73px;
  font-size: var(--font-size-small);
}

.channel .description {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.channel .more__info {
  font-size: var(--font-size-micro);
  color: var(--font-color-sub);
}

/* Section: relatedVideo */
.relatedVideo {
  display: flex;
  flex-direction: column;
  padding: 0 38px;
}

.relatedVideo .filter__videos {
  margin: 2.8rem 0 1.8rem 0;
}

.filter__all,
.filter__relatedcontents,
.filter__nbcProvide,
.filter__recentUpload,
.filter__alreadySeen {
  font-size: var(--font-size-regular);
  border: 1px solid var(--line);
  background-color: var(--color-background-lightGrey);
  padding: 10px 16px;
  border-radius: 25px;
  margin-right: 0.4rem;
}

.relatedVideo .checked {
  background-color: var(--color-black);
  color: var(--color-white);
}

.video__related {
  display: flex;
  margin-bottom: 0.8rem;
  text-align: left;
}

.video__related__image {
  width: 230px;
  height: 130px;
  margin-right: 0.8rem;
}

.video__related__title {
  font-size: var(--font-size-regular);
  margin-top: 0;
  margin-bottom: 12px;
}

.video__related__channel,
.video__related__info,
.video__related__new {
  font-size: var(--font-size-small);
  color: var(--font-color-sub);
}

.video__related__info,
.video__related__new {
  margin: 4px 0;
}

.video__related__new {
  width: 80px;
  background-color: var(--color-background-lightGrey);
  padding: 5px 6px;
}

.relatedVideos__more {
  width: 100%;
  height: 50px;
  border: 1.5px solid var(--color-blue);
  color: var(--color-blue);
  font-size: var(--font-size-small);
}

/* section: comments */
.comments {
  padding: 0 38px;
}

.comments__info {
  padding: 2rem 0;
}

.comments__info .comments__number,
.comments__info .button__arrange {
  font-size: var(--font-size-regular);
}

.comments__info .comments__number {
  margin-right: 34px;
}

.comments__info .arrange__method {
  margin-left: 8px;
}

.comments__input {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.comments__input .input__wrap {
  width: 100%;
}

.comments__input .text__input {
  width: 100%;
  height: 40px;
  border: none;
  font-size: var(--font-size-small);
  border-bottom: 1px solid var(--line);
  outline: none;
}

.comments__input .text__input__sub-banner {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
}

.comments__input .fa-face-grin {
  font-size: var(--font-size-small);
}

.comments__input .comments__cancel,
.comments__input .comments__submit {
  font-size: var(--font-size-small);
  color: var(--font-color-sub);
}

.comments__input .comments__cancel {
  margin-right: 30px;
}

.comments__input .comments__submit {
  background-color: var(--color-background-lightGrey);
  padding: 10px 16px;
  border-radius: var(--border-radius);
  cursor: auto;
}

.comments .comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.comment__contents {
  width: 100%;
  font-size: var(--font-size-small);
  color: var(--font-color-content);
}

.comment .id {
  font-weight: bold;
}

.comment .date {
  color: var(--font-color-sub);
}

.comment .content {
  margin: 8px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.comments .show__details {
  display: block;
  font-size: var(--font-size-small);
  color: var(--font-color-sub);
  margin-bottom: 14px;
}

.comment-icon__thumbup,
.comment-icon__thumbdown {
  font-size: var(--font-size-regular);
}

.comment-thumbup__number,
.comment-icon__thumbdown {
  margin-right: 24px;
}

.comment .response {
  font-size: var(--font-size-small);
  color: var(--font-color-sub);
}

.comments .response__input {
  display: flex;
  align-items: flex-start;
  padding-top: 12px;
}

.comments .response__logo-commentor {
  width: 36px;
  margin-right: 8px;
}

.comments .response__input-wrap {
  width: 100%;
}

.comments .response__input-text {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--line);
  font-size: var(--font-size-small);
  margin-bottom: 12px;
}

.comments .response__sub-banner {
  display: flex;
  justify-content: space-between;
}

.comments .fa-face-grin,
.comments .response__cancel,
.comments .response__submit {
  font-size: var(--font-size-small);
  color: var(--font-color-sub);
}

.comments .response__cancel {
  margin-right: 20px;
}

.comments .response__submit {
  padding: 10px 14px;
  background-color: var(--color-background-lightGrey);
  border-radius: var(--border-radius);
  cursor: auto;
}

.comments .reply {
  display: flex;
  flex-direction: column;
  margin-left: 72.8px;
}

.comments .reply__wrap {
  margin-bottom: 20px;
}

.comments .reply-wrap,
.comments .reply__number {
  color: var(--color-blue);
  font-size: var(--font-size-small);
}

.comments .reply__number {
  margin-left: 12px;
}

.comments .reply__comments {
  margin-bottom: 14px;
}

.comments .reply__comment {
  display: flex;
  align-items: flex-start;
  margin: 14px 0 18px 0;
}

.comments .reply__logo-commentor {
  width: 36px;
  margin-right: 12px;
}

.comments .reply__contents {
  width: 100%;
}

.comments .reply__contents,
.comments .reply__icon-thumbup,
.comments .reply__icon-thumbdown,
.comments .reply__response {
  font-size: var(--font-size-small);
  color: var(--font-color-content);
}

.comments .reply__id {
  font-weight: bold;
  margin-right: 10px;
}

.comments .reply__content {
  margin: 8px 0 16px 0;
}

.comments .reply__icon-thumbup,
.comments .reply__thumbup-number {
  margin-right: 12px;
}

.comments .reply__icon-thumbdown {
  margin-right: 24px;
}

/* aside */
.logo__sideBar {
  width: 360px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 24px 24px;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
}

.hide {
  display: none;
}

.logo.sideBar {
  height: 6rem;
}

.logo__kr.sideBar {
  margin-top: 16px;
}

.sideBar__content {
  display: flex;
  margin: 0 0 30px 30px;
}

.content__icon i {
  font-size: var(--font-size-medium);
}

.content__description {
  margin-left: 46px;
  font-size: var(--font-size-regular);
}

.sideBar__line {
  width: 94%;
  height: 1px;
  background-color: var(--color-background-lightGrey);
  margin-bottom: 30px;
  text-align: left;
}

/* min-width: 이상 */
@media screen and (min-width: 1500px) {
  .relatedVideos__more {
    display: none;
  }

  .contents {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'a d' 'b d' 'c d' 'e d';
  }

  #ytplayer {
    grid-area: a;
  }

  .video {
    grid-area: b;
  }

  .channel {
    grid-area: c;
  }

  .relatedVideo {
    grid-area: d;
  }

  .comments {
    grid-area: e;
  }

  .relatedVideo {
    padding-left: 0;
  }
}

/* max-width: 이하 */
@media screen and (max-width: 980px) {
  .header .input,
  .header .function {
    display: none;
  }

  .header .actionBtn {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }

  .header .action__search,
  .header .action__microphone,
  .header .action__recording,
  .header .action__bell {
    width: 30px;
  }
}

@media screen and (max-width: 760px) {
  .video .video__info__left {
    display: none;
  }
}
