:root {
  --font-color-title: #212121;
  --font-color-content: #242424;
  --font-color-sub: #606060;
  --font-color-search: #adadad;
  --font-color-white: #ffffff;

  --font-size-large: 2rem;
  --font-size-medium: 1.6rem;
  --font-size-regular: 1.3rem;
  --font-size-small: 1.1rem;
  --font-size-micro: 0.9rem;

  --line: #cfcfcf;
  --border-radius: 2px;

  --color-background-superLightGrey: #f8f8f8;
  --color-background-lightGrey: #ececec;
  --color-background-midDarkGrey: #606060;
  --color-background-darkGrey: #030303;

  --color-blue: #1c64d6;
  --color-white: #ffffff;
  --color-black: #000000;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* header */
.header {
  width: 100%;
  height: 5.5rem;
  display: flex;
  align-items: center;
  padding: 0 28px 0 16px;
}

.logo__container {
  display: flex;
  align-items: center;
  margin-left: 0.8rem;
  margin-right: 4rem;
}

.fa-bars {
  font-size: var(--font-size-large);
  margin-right: 1.8rem;
}

.logo__youtube {
  width: 46px;
  height: 46px;
  margin-right: 0.4rem;
}

.logo__title {
  font-size: var(--font-size-large);
  font-weight: bold;
  margin-right: 0.2rem;
  font-family: 'Oswald', sans-serif;
}

.logo__kr {
  align-self: flex-start;
  font-size: var(--font-size-micro);
  color: var(--font-color-sub);
}

.input__container {
  height: 55px;
  display: flex;
  margin-right: 4rem;
}

.input__text {
  width: 100%;
  height: 100%;
  border: 2px solid var(--line);
  color: var(--font-color-search);
  font-size: var(--font-size-regular);
  border-radius: var(--border-radius);
  padding: 4px 6px;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(206, 205, 204, 1);
  -moz-box-shadow: inset 0px 0px 2px 0px rgba(206, 205, 204, 1);
  box-shadow: inset 0px 0px 2px 0px rgba(206, 205, 204, 1);
}

.button.search,
.button.microphone {
  width: 100px;
  background-color: var(--color-background-superLightGrey);
}

.button.search {
  border: 2px solid var(--line);
  border-left: none;
  margin-right: 0.4em;
}

.button.microphone {
  border-radius: 50%;
}

.fa-magnifying-glass,
.fa-microphone {
  font-size: var(--font-size-regular);
}

.function__container {
  width: 140px;
  display: flex;
}

.button.video-recording,
.button.bell,
.button.owner {
  background-color: transparent;
  margin-right: 2rem;
}

.fa-video,
.fa-bell {
  font-size: var(--font-size-regular);
}

.function__owner {
  width: 40px;
}

/* main */
.contents {
  padding: 0 24px;
}

/* section: video */
.video {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 74%,
    rgba(248, 248, 248, 1) 100%
  );
  border-bottom: 1px solid var(--line);
}

#ytplayer {
  position: sticky;
  top: 0;
  width: 100%;
  height: 500px;
}

.video__description {
  width: 100%;
  padding: 40px 0 20px 0;
}

.video__hashTag,
.video__title {
  margin: 0;
}

.video__hashTag {
  color: var(--color-blue);
  font-size: var(--font-size-small);
}

.video__title {
  font-size: var(--font-size-medium);
  margin-top: 2px;
}

.video__info {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-regular);
  color: var(--font-color-sub);
  margin-top: 18px;
}

.video__info__right {
  width: 620px;
  display: flex;
  justify-content: space-evenly;
}

.button.info__right {
  font-size: var(--font-size-regular);
}

/* section: channel */
.channel {
  padding: 30px 0;
  border-bottom: 1px solid var(--line);
}

.channel__title {
  display: flex;
  justify-content: space-between;
}

.channel__title__left {
  display: flex;
  align-items: center;
}

.channel__logo {
  width: 60px;
  height: 60px;
  margin-right: 0.8rem;
}

.title {
  font-size: var(--font-size-regular);
  font-weight: bold;
  color: var(--font-color-content);
  margin-right: 0.3rem;
}

.fa-check {
  background-color: var(--color-background-midDarkGrey);
  font-size: var(--font-size-micro);
  color: var(--color-white);
  border-radius: 50%;
  padding: 1px;
}

.subscribers {
  margin: 2px 0 0 0;
  font-size: var(--font-size-small);
  color: var(--font-color-sub);
}

.button.subscribe {
  width: 120px;
  height: 60px;
  background-color: var(--color-background-lightGrey);
  font-size: var(--font-size-regular);
  border-radius: var(--border-radius);
  color: var(--font-color-sub);
  margin-right: 16px;
}

.fa-bell-slash {
  font-size: var(--font-size-medium);
}

.channel__description {
  padding: 0 73px;
  font-size: var(--font-size-small);
}

.description {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.button.channel__more__info {
  font-size: var(--font-size-micro);
  color: var(--font-color-sub);
}

/* Banner for filtering videos: btn__filter__videos__related */
.btn__filter__videos__related {
  margin: 2.8rem 0 1.8rem 0;
}

.filter__all,
.filter__relatedcontents,
.filter__nbcProvide,
.filter__recentUpload,
.filter__alreadySeen {
  font-size: var(--font-size-regular);
  border: 1px solid var(--line);
  background-color: var(--color-background-lightGrey);
  padding: 10px 16px;
  border-radius: 25px;
  margin-right: 0.4rem;
}

.checked {
  background-color: var(--color-black);
  color: var(--color-white);
}

/* Show Related Videos: videos__related */
.video__related {
  display: flex;
  margin-bottom: 0.8rem;
  text-align: left;
}

.video__related__image {
  width: 230px;
  height: 130px;
  margin-right: 0.8rem;
}

.video__related__title {
  font-size: var(--font-size-regular);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 12px;
}

.video__related__channel,
.video__related__info,
.video__related__new {
  font-size: var(--font-size-small);
  color: var(--font-color-sub);
}

.video__related__info,
.video__related__new {
  margin: 4px 0;
}

.video__related__new {
  width: 80px;
  background-color: var(--color-background-lightGrey);
  padding: 5px 6px;
}

/* Show more videos button */
.show__more__videos {
  width: 100%;
  height: 50px;
  border: 1.5px solid var(--color-blue);
  color: var(--color-blue);
  font-size: var(--font-size-small);
}

/* section: comments */
.comments__info {
  padding: 2rem 0;
}

.comments__number,
.button__arrange {
  font-size: var(--font-size-regular);
}

.comments__number {
  margin-right: 34px;
}

.arrange__method {
  margin-left: 8px;
}

.comments__input {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.logo__commentor {
  width: 60px;
  margin-right: 0.8rem;
}

.comments__input__wrap {
  width: 100%;
}

.text__input {
  width: 100%;
  height: 40px;
  border: none;
  font-size: var(--font-size-small);
  border-bottom: 1px solid var(--line);
  outline: none;
}

.text__input__sub-banner {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
}

.fa-face-grin {
  font-size: var(--font-size-small);
}

.comments__cancel,
.comments__submit {
  font-size: var(--font-size-small);
  color: var(--font-color-sub);
}

.comments__cancel {
  margin-right: 30px;
}

.comments__submit {
  background-color: var(--color-background-lightGrey);
  padding: 10px 16px;
  border-radius: var(--border-radius);
  cursor: auto;
}

.comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.comment__contents {
  width: 100%;
}

.comment__contents,
.response {
  font-size: var(--font-size-small);
  color: var(--font-color-content);
}

.id {
  font-weight: bold;
}

.date,
.response,
.show__details {
  color: var(--font-color-sub);
}

.comment-icon__thumbup,
.comment-icon__thumbdown {
  font-size: var(--font-size-regular);
}

.comment-thumbup__number,
.comment-icon__thumbdown {
  margin-right: 24px;
}

.content {
  margin: 8px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.show__details {
  display: block;
  font-size: var(--font-size-small);
  margin-bottom: 14px;
}

.response__input {
  display: flex;
  align-items: flex-start;
  padding-top: 12px;
}

.response__logo-commentor {
  width: 36px;
  margin-right: 8px;
}

.response__input-wrap {
  width: 100%;
}

.response__input-text {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--line);
  font-size: var(--font-size-small);
  margin-bottom: 12px;
}

.response__sub-banner {
  display: flex;
  justify-content: space-between;
}

.fa-face-grin,
.response__cancel,
.response__submit {
  font-size: var(--font-size-small);
  color: var(--font-color-sub);
}

.response__cancel {
  margin-right: 20px;
}

.response__submit {
  padding: 10px 14px;
  background-color: var(--color-background-lightGrey);
  border-radius: var(--border-radius);
  cursor: auto;
}

.reply {
  display: flex;
  flex-direction: column;
  margin-left: 72.8px;
}

.btn__reply-wrap {
  margin-bottom: 20px;
}

.btn__reply-wrap,
.reply__number {
  color: var(--color-blue);
  font-size: var(--font-size-small);
}

.reply__number {
  margin-left: 12px;
}

.reply__comments {
  margin-bottom: 14px;
}

.reply__comment {
  display: flex;
  align-items: flex-start;
  margin: 14px 0 18px 0;
}

.reply__logo-commentor {
  width: 36px;
  margin-right: 12px;
}

.reply__contents {
  width: 100%;
}

.reply__contents,
.reply__icon-thumbup,
.reply__icon-thumbdown,
.reply__response {
  font-size: var(--font-size-small);
  color: var(--font-color-content);
}

.reply__id {
  font-weight: bold;
  margin-right: 10px;
}

.reply__content {
  margin: 8px 0 16px 0;
}

.reply__icon-thumbup,
.reply__thumbup-number {
  margin-right: 12px;
}

.reply__icon-thumbdown {
  margin-right: 24px;
}
